body {
  overflow: hidden;
}

#animation-container {
  height: 720px;
  width: 1080px;
  border: solid 1px black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
