body {
  overflow: hidden;
}
#animation-container {
  height: 720px;
  width: 1080px;
  border: solid 1px black;
  background-color: white;
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
#controls #toggle-bezier {
  position: fixed;
  right: 100px;
  top: 80vh;
}
.intro #logo-left,
.intro #logo-right {
  width: 100px;
  height: 150px;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  animation: linear 1.7s 5;
  animation-delay: 1s;
}
.intro #logo-left {
  left: -100px;
  animation-name: logo-left;
  background-color: #455466;
}
@keyframes logo-left {
  10% {
    transform: translateX(540px) translateY(0);
    animation-timing-function: ease;
  }
  20% {
    transform: translateX(550px) scale(0.8, 1.15);
  }
  22% {
    transform: translateX(540px) translateY(0);
  }
  70% {
    transform: translateX(540px) translateY(0);
  }
  80% {
    transform: translateX(540px) translateY(-540px);
  }
  100% {
    transform: translateX(540px) translateY(-540px);
    animation-timing-function: cubic-bezier(0.3, 0.01, 0.88, 0.7);
  }
}
.intro #logo-right {
  right: -100px;
  animation-name: logo-right;
  background-color: #f3615f;
}
@keyframes logo-right {
  10% {
    transform: translateX(-540px) translateY(0);
    animation-timing-function: ease;
  }
  20% {
    transform: translateX(-550px) scale(0.8, 1.15);
  }
  22% {
    transform: translateX(-540px) translateY(0);
  }
  70% {
    transform: translateX(-540px) translateY(0);
  }
  80% {
    transform: translateX(-540px) translateY(540px);
  }
  100% {
    transform: translateX(-540px) translateY(540px);
    animation-timing-function: cubic-bezier(0.3, 0.01, 0.88, 0.7);
  }
}
#video-view {
  z-index: 5000;
}
#video-view #toggle-video-view {
  position: fixed;
  right: 100px;
  top: 90vh;
  z-index: 5200;
}
#video-view .dark {
  background-color: #303035;
  z-index: 1000;
  display: none;
  position: absolute;
}
