@container-width: 1080px;
@container-height: 720px;

body {
  overflow: hidden;
}

#animation-container {
  height: @container-height;
  width: @container-width;
  border: solid 1px black;
  background-color: white;
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#controls {
  #toggle-bezier {
    position: fixed;
    right:100px;
    top: 100vh - 20vh;
  }
}

@import "mixin.less";
@import "../../animations/animations.less";
@import "video-view.less";
