#video-view {
  z-index: 5000;
  #toggle-video-view {
    position: fixed;
    right:100px;
    top: 100vh - 10vh;
    z-index: 5200
  }

  #toggle-video-view-color {
    position: fixed;
    right:100px;
    top: 100vh - 20vh;
    z-index: 5200;
  }

  .video-panel {
    z-index: 1000;
    display: none;
    position: absolute;
    &.dark {
      background-color: #303035;
    }
    &.light {
      background-color: white;
    }
  }

}


@import "../../animations/animations.less";
